@import "../../general/styles/default";

//  Application =====================================
#app {
  margin: auto;
  transition: opacity .5s ease;

  canvas {
    @include full-size;
  }

  #mask {
    @include full-size;
    background: $black;

    #screen-rotation {
      background: url('./screen-rotation.png') no-repeat fixed center;
      animation: rotation 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    }
  }
}

//  When Portrait ======================================
@media all and (orientation: portrait) {
  #container {
    visibility: hidden;
  }

  #screen-rotation {
    @include full-size;
  }
}

//  Animation =====================================
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-45deg);
  }
}
