@import "../../general/styles/default";

//  Application =====================================
#app {
  margin: auto;
  transition: opacity .5s ease;

  canvas {
    @include full-size;
  }

  #mask {
    background: $black;
  }
}

//  When Portrait ======================================
@media all and (orientation: portrait) {
  #container {
    visibility: hidden;
  }

  #mask {
    @include full-size;
  }
}
