//  Import
@import "./reset";

//  Variables ======================================
$full: 100%;

$black: #010101;

//  Prototype =====================================
@mixin full-size {
  width: $full;
  height: $full;
}

//  Function =====================================
.hidden {
  opacity: 0;
  display: none;
}

//  Default =====================================
html, body {
  @include full-size;

  overflow: hidden;
  background: $black;
}
