//  Import
@import "reset";

//  Variables ======================================
$full: 100%;

$black: #010101;

//  Prototype =====================================
@mixin full-size {
  width: $full;
  height: $full;
}

//  Function =====================================
.hidden {
  opacity: 0;
  display: none;
}

.v-center {
  @include full-size;

  display: flex;
  align-items: center;
}

.text-center {
  position: relative;
  text-align: center;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.number-font {
  font-family: Candal, serif;
  font-size: 1.4rem;
}


//  Default =====================================
html, body {
  @include full-size;

  overflow: hidden;
  background: $black;
}
